* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.parent {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header header"
    "menu main top"
    "menu main middle"
    "menu main bottom"
    "footer footer footer";
  grid-template-rows: 100px repeat(3, 1fr) 100px;
  grid-template-columns: 100px 1fr 100px;
  gap: 1px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: sandybrown;
}
.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.main {
  grid-area: main;
}
.top {
  grid-area: top;
}
.middle {
  grid-area: middle;
}
.bottom {
  grid-area: bottom;
}
.footer {
  grid-area: footer;
}
