#a {
  width: 100px;
  height: 100px;
  background-color: orange;
}

#b {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  position: relative;
  top: 50px;
  left: 30px;
}

#c {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  position: absolute;
  top: 200px;
  left: 200px;
}
