* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  background-color: teal;
}
.members {
  margin: 5px;
}
.sidebar {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}
.cardview {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
}
.card {
  width: 310px;
  height: 475px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: bisque;
}
