body {
  margin: 0;
  padding: 0;
}
.count_motion {
  height: 178px;
  position: relative;
  width: 178px;
  border-radius: 100%;
  border: 10px solid transparent;
  border-color: #00baff #fff #fff #fff;
  transform-origin: 50% 50%;
  background-color: #313e51;
}
.count_txt {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  margin-top: 71px;
  margin-left: 16px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 147px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2px;
}
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: roatae(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
.count_motion.on {
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  animation: rotate-loading 1.5s linear 0s infinite normal;
}
